
.mood-selector .q-select {
  width: 65vw;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.q-select__dropdown-icon img {
  width: 50px !important;
  height: 50px !important;
}
.popup-style-class {
  background-color: #1a1a1a;
  color: white;
  border-radius: 50px;
  text-align: center;
}
@media (max-width: 600px) {
.mood-selector .q-select {
    width: 90vw;
    margin: 0 auto;
}
}
.header-style {
  background-color: #1a1a1a;
}
.header-text {
  width: 100%; /* Fill the width of the toolbar title */
  height: 60px; /* Set a fixed height (adjust as needed) */
  background: url("/icons/valencetitlenew3.svg") no-repeat center center;
  background-size: contain; /* Scale the SVG proportionally */
  margin: 2px auto; /* Center it within the container */
  /* Optionally, add a drop-shadow or other effects */
  filter: drop-shadow(1px 2px 2px rgb(0, 0, 0));
  pointer-events: none;
}
.logo-style {
  max-width: 185px;
  max-height: 145px;
}
.mood-selector-container {
  position: absolute;
  top: -56px; /* Adjust based on desired placement */
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  z-index: 10;
}
.draw-class-style {
  background-color: #00ced1;
  color: white;
  text-shadow: 1px 1px 1px black;
}